
@{
    ViewData["Title"] = "GemManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <h2 class="text-center">GemManager</h2>
    @using (Html.BeginForm("GemMaster", "AddGem"))
    {


    }
</div>

