@using Microsoft.Data.OData.Atom
@model ChilledViewModel
@{
    ViewData["Title"] = "ChilledEsports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-image:url(/images/Heaven_Hell_overview02.0.jpg); min-height:100vh">
    <div class="container body-content" style="opacity:0.9; background-color:darkolivegreen">
        <h2>Chilled E-Sports</h2>

        @foreach (var link in Model.AudioLinks)
        {
            <p>@link</p>
        }
    </div>
</div>