@using jhray.com.Models.Gems
@model ChilledViewModel
@{
    ViewData["Title"] = "ChilledEsports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="lightbox_bkg">
    <div class="gem_big">
        <div>
            <h2 id="gem_full_title"></h2>
            <audio id="gemAudioBig" controls>
                <source id="gem_full_audio_src" src="//jhray.com/uploads/podcasts/32/Chilled_Podcast_Episode_21.mp3" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
            <p id="gem_full_contents"></p>
        </div>
    </div>
</div>
<div style="background:url(//jhray.com/static/Heaven_Hell_overview02.0.jpg); height:100%; width:100%; min-height:100vh; background-attachment: fixed;">
    <div class="container body-content">
        <div class="chilledBackground">
            <div class="GemTitle">
                <h2>Chilled E-Sports <a href="/home/getrssfeed"><img id="feedIcon" src="~/images/feed-icon.svg" /></a></h2>
            </div>
            <div class="clearfix">
                @{
                    var podCastGems = Model.Gems.Where(g => g is PodcastGem);
                    var pictureGems = Model.Gems.Where(g => g is PictureGem);
                }

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="podcast-tab" data-toggle="tab" href="#podcast" role="tab" aria-controls="podcast" aria-selected="false">Podcast</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="blog-tab" data-toggle="tab" href="#blog" role="tab" aria-controls="blog" aria-selected="true">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false">Gallery</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active in" id="podcast" role="tabpanel" aria-labelledby="podcast-tab">
                        <div class="row">
                            @foreach (var gem in podCastGems)
                            {
                                <div class="@gem.Type.ToString() gemItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div id="podcast_@gem.Id" class="gemContents ">
                                        @await Html.PartialAsync("PodcastGem", gem)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="blog" role="tabpanel" aria-labelledby="blog-tab">
                        Hello this is a blog :^)
                    </div>
                    <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
                        <div class="row">
                            @foreach (var gem in pictureGems)
                            {
                                <div class="@gem.Type.ToString() gemItem col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="gemContents">
                                        @await Html.PartialAsync("PictureGem", gem)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>