@using Microsoft.Data.OData.Atom
@model ChilledViewModel
@{
    ViewData["Title"] = "ChilledEsports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-image:url(/images/Heaven_Hell_overview02.0.jpg); min-height:100vh">
    <div class="container body-content">
        <div class="chilledBackground">
            <h2>Chilled E-Sports</h2>

            @foreach (var link in Model.AudioLinks)
            {
                <audio controls>
                    <source src="@link" type="audio/mpeg"/>
                    Your browser does not support the audio element.
                </audio>
            }
        </div>
    </div>
</div>