
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>

<p>Coming soon! Content!</p>

<div id="particles-js"></div>
<script src="~/js/particles.min.js"></script>
<script src="~/js/app.js"></script>