@model jhray.com.Models.IGem
@{ 
    var podcastGem = Model as Gem;
    <h3 class="gemHeader Podcast">@podcastGem.Title</h3>
    <audio class="gemAudio" controls>
        <source src="@podcastGem.AudioLink" type="audio/mpeg"/>
        Your browser does not support the audio element.
    </audio>
    <p class="gemText">@podcastGem.Text</p>
}