body {
    margin:0px;
    padding:0px;

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}

.parallax__layer--back {
    transform: translateZ(-1px);
}

#particles-js {
    
    width: 100%;
    height: 1000px;
    background-color: #3e4444;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-left: -15px;
    padding-right: -15px;
    -webkit-animation: color_change 3s 1 normal;
    animation-fill-mode: forwards;
}

#position {
    margin-top: 400px;
    position: absolute;
    font-size: 120px;
    text-align: center;
    width: 100%;
}

#jhray {
    color: aqua;
    display: inline;
    -webkit-animation: from_left 3s 1 normal;
    animation-fill-mode: forwards;
}
#thought_leader {
    width: 100%;
    position: absolute;
    margin-top: 530px;
    text-align: center;
    font-size: 80px;
    color: darkorange;
}
#com {
    color: mediumpurple;
    display: inline;
    -webkit-animation: from_right 3s 1 normal;
    animation-fill-mode: forwards;
}
#ARIGATO {
    top: 1000px;
    left: 0px;
    min-height: 100%;
    height: 105vh;
    width: 100%;
    /*background-image: radial-gradient(circle 2000px at 50% 175%,#fff 0%, #000 100%);*/
    /*background: -webkit-linear-gradient(to top right, #FFF, #000, 70.71%);*/
    background: linear-gradient(10deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 90%), linear-gradient(345deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 90%);
    filter: blur;
    margin-bottom: -21px;
}

@keyframes from_left {
    0% {
        margin-right: 30%;
        color: transparent;
    }
    100% {
        margin-right: 0%;
        color: aqua;
    }
}

@keyframes from_right {
    0% {
        margin-left: 30%;
        color: transparent;
    }
    100% {
        margin-left: 0%;
        color: mediumpurple;
    }
}

@keyframes color_change {
    0% {
        background-color: #222;
    }
    100% {
        background-color: #000;
    }
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
